@model Hm.Admin.Models.Owner.OwnerViewModel
<style>
    div.popup_lbl_outer label {
        font-weight: bold;
    }
</style>
<div id="owner_detail_form">

    @using (Html.BeginForm("View", "SM402_Owner_list", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.ownerCD, new { @class = "popuproletxtbox create_or_update" })
        <div class="divHeader" style="height: auto">
            <div style=" height: 200px auto; width: 100%;">
                <div class="UIheader" style="margin-bottom:6px;">
                    <div style="width:700px; float:left;"> @(Model.ownerCD == null ? "View Owner" : "View Owner") </div>
                    <div style="width:50px; padding-right:15px;float:right;"><a href="#" id="btn_AddNew" class="btn_addnew" title="Click to Hide" onclick="window.location.reload()"> Hide </a></div>
                </div>
                <div style="float: left; width: 64%; ">
                    <div class="divfieldrightrow">

                        <div class="popup_lbl_outer" style="padding-top: 10px">

                            <label>
                                Owner ID
                            </label>
                        </div>
                        <div class="divTextbox">
                            @Html.DisplayFor(model => model.ownerCD, new { style = "width:100px;" })
                            (This ID will be generated Automatically)
                        </div>


                    </div>


                    <div class="divfieldrightrow">

                        <div class="popup_lbl_outer" style="padding-top:10px;">

                            <label>
                                First Name
                            </label>

                        </div>
                        <div class="divTextbox">
                            @Html.DisplayFor(model => model.FirstName, new { @class = "popuproletxtbox1" })
                            @Html.DisplayFor(model => model.LastName, new { @class = "popuproletxtbox1" })
                        </div>

                    </div>
                    <div class="Validationdiv" style="padding-left: 140px; ">
                        @Html.ValidationMessageFor(model => model.FirstName)
                    </div>

                    <div class="divfieldrightrow">

                        <div class="popup_lbl_outer" style="padding-top:10px;">

                            <label>
                                Email Id
                            </label>

                        </div>
                        <div class="divTextbox">
                            @Html.DisplayFor(model => model.Email, new { @class = "popuproletxtbox1" })
                        </div>
                    </div>
                    <div class="Validationdiv" style="padding-left: 140px; ">
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                    <div class="divfieldrightrow">
                        <div class="popup_lbl_outer" style="padding-top:10px;">
                            <label>
                                Mobile
                            </label>

                        </div>
                        <div class="divTextbox">

                            @Html.DisplayFor(model => model.Mobile, new { @class = "popuproletxtbox ", style = "text-align:right;" })

                        </div>

                    </div>
                    <div class="divfieldrightrow">
                        <div class="popup_lbl_outer" style="padding-top:10px;">
                            <label>
                                Gender
                            </label>
                        </div>
                        <div class="divTextbox">

                            @Html.DisplayFor(model => model.Gender, new { @class = "popuprole_cmbbox", @style = "width:86px;" })

                        </div>
                    </div>
                    <div class="Validationdiv" style="padding-left: 375px;">
                        @Html.ValidationMessageFor(model => model.Gender)
                    </div>
                    <div class="Validationdiv" style="padding-left: 140px; ">
                        @Html.ValidationMessageFor(model => model.Mobile)
                    </div>
                    <div class="divfieldrightrow">
                        <div class="popup_lbl_outer" style="padding-top:10px;">

                            <label>
                                Phone
                            </label>
                        </div>
                        <div class="divTextbox">

                            @Html.DisplayFor(model => model.Phone, new { @class = "popuproletxtbox ", style = "text-align:right;" })

                        </div>
                    </div>
                    <div class="Validationdiv" style="padding-left: 140px; ">
                        @Html.ValidationMessageFor(model => model.Phone)
                    </div>
                    <div class="divfieldrightrow">
                        <div class="popup_lbl_outer" style="padding-top:10px;">

                            <label>
                                Address
                            </label>

                        </div>
                        <div class="divTextbox" style="text-align:left">
                            @Html.DisplayFor(model => model.AddressLine1, new { @class = "popuproletxtbox1" }) <br />
                            @Html.DisplayFor(model => model.AddressLine2, new { @class = "popuproletxtbox1" }) <br />
                            @Html.DisplayFor(model => model.AddressLine3, new { @class = "popuproletxtbox1" })


                        </div>
                    </div>

                    <div class="divfieldrightrow">
                        <div class="popup_lbl_outer" style="padding-top:10px;">

                            <label>
                                City
                            </label>
                        </div>
                        <div class="divTextbox">
                            @Html.DisplayFor(model => model.city, new { @class = "popuproletxtbox" })


                        </div>

                    </div>
                    <div class="divfieldrightrow">
                        <div class="popup_lbl_outer" style="padding-top:10px;">

                            <label>
                                Zip Code
                            </label>

                        </div>
                        <div class="divTextbox">
                            @Html.DisplayFor(model => model.Zipcode, new { @class = "popuproletxtbox", style = "width:86px; text-align:right;" })



                        </div>
                    </div>
                    <div class="divfieldrightrow">
                        <div class="popup_lbl_outer" style="padding-top:10px;">
                            <label>
                                State
                            </label>
                        </div>
                        <div class="divTextbox">
                            @Html.DisplayFor(model => model.State, new { @class = "popuproletxtbox" })

                        </div>

                    </div>
                    <div class="divfieldrightrow">
                        <div class="popup_lbl_outer" style="padding-top:10px;">

                            <label>
                                Country
                            </label>
                        </div>
                        <div class="divTextbox">

                            @Html.DisplayFor(model => model.Country, new { @class = "popuproletxtbox", style = "width:86px;" })

                        </div>

                    </div>
                    <div class="divfieldrightrow">
                        <div class="popup_lbl_outer" style="padding-top:10px;">

                            <label>
                                Bank Name
                            </label>
                        </div>
                        <div class="divTextbox">

                            @Html.DisplayFor(model => model.BankName, new { @class = "popuproletxtbox" })

                        </div>

                    </div>

                    <div class="divfieldrightrow">
                        <div class="popup_lbl_outer" style="padding-top: 10px; ">

                            <label>
                                Account Number
                            </label>
                        </div>
                        <div class="divTextbox">

                            @Html.DisplayFor(model => model.AccountNo, new { @class = "popuproletxtbox", style = "text-align:right;" })

                        </div>


                    </div>


                </div>


                <div style="float: left; width: 35%;">



                    <div style="padding-left: 0px; padding-top: 0px; clear: both;">
                        <div class="divspanlbl" style="padding-top:10px;">

                            <label>
                                Owner Photo
                            </label>
                        </div>

                    </div>

                    <div style="float: right; padding-right: 65px; height: 120px; padding-top: 10px; ">
                        @if (Model.OwnerPhoto != "" && Model.OwnerPhoto != null)
                        {
                            <img src="@Url.Content(@Model.OwnerPhoto)" id="imagePrev" width="132px" />
                        }
                        else
                        {
                            <img src="@Url.Content("~/images/nopreview.jpg")" id="imagePrev" width="132px" />
                        }

                    </div>

                    <div id="uploadedFile">
                    </div>
                    <div id="fileHeaderError" style="display: none;">Please enter file header.</div>
                </div>
                <div class="divfieldrightrow" style="border-bottom: solid 1px #8cbfe7; color: grey; padding-top: 10px;">
                    <div class="modified-info">
                        <div>
                            <ul class="user"><li>Created By:</li><li>@Html.DisplayFor(model => model.createName, new { style = "width:100px;", @disabled = "disabled", @readonly = "readonly", Title = "Created By" })</li></ul>
                            <ul class="date"><li>Created Date Time:</li><li>@Html.DisplayFor(model => model.CreateDate, new { style = "width:140px;", @disabled = "disabled", @readonly = "readonly", Title = "Created DateTime" })  </li></ul>
                        </div>
                        <div>
                            <ul class="user"><li>Modified By:</li><li> @Html.DisplayFor(model => model.modifyname, new { style = "width:100px;", @disabled = "disabled", @readonly = "readonly", Title = "Modified By" }) </li></ul>
                            <ul class="date"><li>Modified Date Time:</li><li>@Html.DisplayFor(model => model.ModifyDate, new { style = "width:140px;", @disabled = "disabled", @readonly = "readonly", Title = "Created DateTime" }) </li></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<script>
    var newList = new Array();
    newList['files'] = new Array();
    newList['headerName'] = new Array();

    $(document).ready(function () {
        (function ($) {
            $.fn.uploadAttach = function (action) {
                var uploadCtrl = $(this);
                var formData = new FormData();
                if (action === "document") {
                    $(this).change(function () {
                        if ($(uploadCtrl).val().trim() == "") {
                            $("#fileHeaderError").fadeIn();
                            $(uploadCtrl).val("");
                            return;
                        }
                        else {
                            $("#fileHeaderError").fadeOut();
                        }
                        var files = $(this).get(0).files;
                        for (var i = 0; i < files.length; i++) {
                            newList['files'].push(files.item(i));
                            newList['headerName'].push($(uploadCtrl).val().trim());
                        }
                        populateGrid();
                        $(uploadCtrl).val("");
                        $(uploadCtrl).prev().val("");
                        formData.append('files', newList);
                    });
                }
                if (action === "image") {
                    $(this).change(function () {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $('#imagePrev').attr('src', e.target.result);
                        };
                        reader.onerror = function (event) {
                            alert("File could not be read! Code " + event.target.error.code);
                        };
                        reader.readAsDataURL($(this).get(0).files[0]);
                        $('#imagePrev').css('display', 'none');
                        $('#imagePrev').fadeIn(2000);
                    });
                }
                function populateGrid() {
                    var textFile = "";
                    for (var j = 0; j < newList['files'].length; j++) {
                        // alert(newList['files'][j]);
                        textFile += "<ul><li class='fileHeade'>" + newList['files'][j].name + "</li><li class='fileName'>" + newList['headerName'][j] + "</li><li class='removefile' data-index='" + j + "'>Remove</li></ul>";
                    }
                    $("#uploadedFile").html('');
                    $("#uploadedFile").append(textFile);
                    $('.removefile').click(function () {
                        newList['files'].splice($(this).data('index'), 1);
                        newList['headerName'].splice($(this).data('index'), 1);
                        populateGrid();
                    })
                }

                $("#btn_Submit").unbind().click(function () {
                    if ($("#owner_detail_form form").valid()) {
                        $("#loader").show();
                        var update = '@Url.Action("Update")';
                        var create = '@Url.Action("Create")';
                        var URL = '';
                        if ($(".create_or_update").val() == "" || $(".create_or_update").val() == "0") {
                            URL = create;
                        }
                        else {
                            URL = update;
                        }
                        var model = $("#owner_detail_form form").serializeArray();
                        var fd = new FormData();
                        if ($("#OwnerPhoto").get(0).files.length > 0) {
                            fd.append('OwnerPhoto', $("#OwnerPhoto").get(0).files[0]);
                        }
                        $.each(model, function (key, input) {
                            fd.append(input.name, input.value);
                        });

                        for (var k = 0; k < newList['files'].length; k++) {
                            fd.append('attachFiles' + k, newList['files'][k]);

                        }
                        $.ajax({
                            url: URL,
                            type: "post",
                            dataType: 'json',
                            data: fd,
                            processData: false,
                            contentType: false,
                            error: function (data) {
                                $("#loader").hide();
                                alert("Some Error Occured Please Reload the page.")

                            },
                            success: function (data) {
                                if (data.status == 1) {
                                    alert("Success")
                                    window.location.reload();
                                }
                                else {
                                    $("#loader").hide();
                                    $("#document_detail_form").html(data.responseText);
                                }

                            }
                        })
                    }
                })

            };

        }(jQuery));


        $(".fileDocuments").uploadAttach("document");
        $(".imageUpload").uploadAttach("image");

        showdatetimepicker(".datepicker", "no", "maxdate");
        $("#btnUserClear").click(function () {
            $(':input', "#owner_detail_form form")
        .not(':button, :submit, :reset, :hidden')
        .val('')
        .removeAttr('checked')
        .removeAttr('selected');
        })


    })
</script>
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/validatedate")

