@using PagedList;
@using PagedList.Mvc;
@using Hm.Admin.Helper;
@model Hm.Admin.Models.PropertyCategory.SearchPropertyCategoryModal
@{
    ViewBag.Title = "Propert Category.";
    Layout = "~/Administration/Views/Shared/_Layout.cshtml";

    bool canCreate = Access.ToFunction("SM400", "A");
    bool canRead = Access.ToFunction("SM400", "V");
    bool canUpdate = Access.ToFunction("SM400", "M");
    bool canDelete = Access.ToFunction("SM400", "D");
}
<style>
    .user_fulwdth {
        width: 223% !important;
        float: left;
    }
</style>
<div class="content_body" align="center">
    <div style="width: 1217px;" align="center">
        <div style="padding-top: 10px; width: 966px;">
            <div class="content_top">
            </div>
            <div id="contentmiddle" class="content_middle">
                <div>
                    <div class="sub_title">
                        Property Category
                    </div>
                    <div id="propCategory_index_form">
                        @using (Html.BeginForm("Index", "SM400_Property_Master_list", FormMethod.Get))
                        {
                            <div style="border: solid 0px red;">
                                <div class="common_control_bg" style="height: 64px;">
                                    <div class="frm_title">
                                        Filter:

                                    </div>
                                    <hr>
                                    <div style="float: left; width: 388px; border: 0px solid blue">
                                        <div style="padding-left: 10px; padding-top: 5px;">
                                            <div class="job_lbl_outer" style="width: 86px;">
                                                <label>
                                                    Category name:
                                                </label>
                                            </div>
                                            <div style="float: left; height: 25px;">
                                                @Html.TextBoxFor(model => model.PropertyCategoryName, new { @class = "popuproletxtbox user_fulwdth"})

                                            </div>

                                        </div>

                                    </div>                                 
                                    <div style="float: right; padding-right: 3px; padding-top: 0px">
                                        <div class="btn_left_outer">
                                            <input type="submit" name="btn_Search" value="Search" id="btn_Search" title="Click to Search" class="button">
                                        </div>
                                        <div class="btn_right_outer">
                                            <input type="button" name="btn_Clear" value="Clear" onclick="window.location.href  = '@Url.Action("Index")';" id="btn_Clear" title="Click to clear" class="button">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                    <div id="divGrid" style="width: 920px; border: 0px solid red; margin-top: 5px;">

                        <div class="grid_top_title">
                            <div style="width: 100%">
                                <div style="float: left; padding-top: 10px; padding-left: 10px; border: solid 0px red;
                                            width: 40%;">
                                    <div style="float: left;">
                                        Property Categories
                                    </div>
                                </div>
                                <div style="float: right; padding-top: 10px;  border: solid 0px red;
                                            width: 8%;">
                                    <div style="float: right; padding-right: 15px;">                                      
                                        <div id="divOpenUser" class="update_popup">
                                        </div>
                                    </div>
                                </div>
                                <div class="icon_lst">
                                    <img src="/images/info-icon.png" title="Information" class="info_msg" onclick="OpenHelp('@Url.Action("PageHelp", "Common", new { pageName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() })')" />
                                    <img src="/images/export-excel.png" title="Export To Excel" onclick="exportExcel()" />
                                </div>
                            </div>
                        </div>
                        <div class="grid_outer" id="grid">
                            <div>
                                <table cellspacing="0" cellpadding="15">
                                    <tbody>
                                        <tr class="grid_header">
                                            @if (canUpdate)
                                            {
                                                <th class="ctrl_image" title="Edit"> Edit </th>
                                            }@if (canDelete)
                                            {
                                                <th class="ctrl_image" title="Delete"> Del </th> }

                                            <th >
                                                Property Name
                                            </th>
                                            <th title="Full Name">                                               
                                                    Address                                              
                                            </th>
                                            <th title="Mobile Number">
                                                IsActive
                                            </th>                                          
                                        </tr>
                                        @foreach (var eachUser in Model.PropertyCategoryList.ToList())
                                        {
                                            <tr>
                                                @if (canUpdate)
                                                {
                                                    <td class="ctrl_image" title="Edit">
                                                        <input type="image" src="~/images/icon-edit.gif" onclick="loadPartialUI('@Url.Action("Update", new { categoryCD = @eachUser.LocationCD })', '#add_or_edit')">
                                                    </td>
                                                }
                                                @if (canDelete)
                                                {
                                                    <td class="ctrl_image" title="Delete">
                                                        <label data-url="@Url.Action("Delete")/@eachUser.LocationCD" id="Delete_link">          <input type="image" id="delete_btn" src="~/images/icon-delete.gif" /></label>
                                                    </td>
                                                }
                                                <td title="Click to View">
                                                    <span>@eachUser.LocationCD @eachUser.PropertyName</span> 
                                                </td>


                                                <td title="Full Name">
                                                    <span>@eachUser.AddressLine1<br>@eachUser.AddressLine2<br>@eachUser.AddressLine3</span>
                                                </td>

                                                <td style="text-align:right;" title="Mobile Number">
                                                    <span>@(eachUser.IsActive == "Y" ? "Active" : "In Active") </span>
                                                </td>                                               
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div style="height: 5px">
                        </div>
                        <div id="divPaging">
                            <div class="grid_bottom_paging">
                                <div style=" float:left; padding-top: 0px; padding-left: 10px; border: solid 0px red;">
                                    <div style="float: left;">
                                        <div style="width: 700px; height: 25px; float: left; border: solid 0px red;">
                                            @Html.PagedListPager(Model.PropertyCategoryList, page => Url.Action("Index", new { page, PropertyCategoryName = Model.PropertyCategoryName }))
                                        </div>
                                        <div style="width: 206px; height: 25px; float: right; border: solid 0px red;">
                                            <div style="float: right; padding-top: 5px;">
                                                <span id="UserPaging_lblNoOfSites" class="grid_txtcolor">Showing @Model.PageTotal Propery Categorie(s) of @Model.TotalRecords</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="border: solid 0px red; text-align: left; padding-left: 15px; padding-top:2px; width: 907px; height:4px;">
                                <span id="UserPaging_lblStatusMessage" class="ErrorStatus"></span>
                            </div>

                        </div>
                        <input name="btnHidden" type="hidden" id="btnHidden">
                        <div id="add_or_edit"></div>
                    </div>
                </div>
            </div>
            <div class="content_bottom">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function sort(sortColum) {
        var queFlag = document.URL.indexOf("?") == -1 ? false : true;
        if (queFlag) {
            window.location.href = document.URL + "&SortColumn=" + sortColum
        }
        else {
            window.location.href = document.URL + "?SortColumn=" + sortColum
        }
    }

    $("#grid #Delete_link").click(function () {
        if (confirm('Do you wish to delete this')) {
            var URL = $(this).attr("data-url");

            $.ajax({
                url: URL,
                type: "post",
                dataType: 'json',
                data: '',
                error: function (data) {

                    alert("Some Error Occured Please Reload the page.")

                },
                success: function (data) {
                    if (data.status == 1) {
                        alert('Deleted');
                        window.location.reload();
                    }
                    else {
                        alert('Error Occured');
                    }

                }
            })

        }
    });
    $(document).ready(function () {
        $("#btn_Clear").click(function () {
            $(':input', "#propCategory_index_form form")
                .not(':button, :submit, :reset, :hidden')
                .val('')
        });


    });
</script>

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/validatedate")
