@using Hm.Web.Framework.Extention
@model Hm.Admin.Models.AccessRights.AccessRightsViewModel
@{
    Layout = null;
}


<div id="user_detail_form">

    @Html.HiddenFor(model => model.flag, new { @class = "popuproletxtbox create_or_update" })
    @Html.HiddenFor(model => model.CreateUserID)
    @Html.HiddenFor(model => model.CreateDate)
    @Html.HiddenFor(model => model.ModifyDate)

    <div class="divHeader">
        <div class="accessrgt_add">
            <div class="UIheader">
                Access Rights List of @Html.DisplayFor(model => model.RoleName) Role
                <div class="hidebtn">
                    <div class="hidebtn_style">
                        <a href="#" title="Hide" id="btn_AddNew" class="btn_addnew" onclick="window.location.href  ='@Url.Action("index")';">Hide</a>

                    </div>
                </div>
            </div>

            <div class="accessrgt_add">
                <div style="float:left;padding-left:0px;margin-left:2%">
                    <label style="font-weight: bold; padding-left:0%;">
                        Role Name :
                    </label>
                    @Html.DisplayFor(model => model.RoleName, new { @class = "popuproletxtbox" })


                </div>
                <div id='Function_List_View'>

                    <table class="table" id="accrgts_tble">
                        <tr class="grid_header">
                            <th>
                                Function Name
                            </th>
                            <th>
                                Function ID
                            </th>
                            <th>
                                Menu
                            </th>
                            <th>
                                Current Rights
                            </th>
                            <th> Modified user id, DateTime</th>
                        </tr>
                        @for (int i = 0; i < Model.RoleFunctionList.Count; i++)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.RoleFunctionList[i].FunctionName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.RoleFunctionList[i].FunctionId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.RoleFunctionList[i].MenuID)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => Model.RoleFunctionList[i].GivenRights)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.RoleFunctionList[i].ModifyUserID), @Html.DisplayFor(modelItem => Model.RoleFunctionList[i].ModifyDate)
                                </td>

                            </tr>
                        }
                    </table>
                </div>
                <div class="divfieldrightrow" style="border-bottom: solid 1px #8cbfe7; color: grey; padding-top: 10px;">
                    <div class="modified-info">
                        <div>
                            <ul class="user"><li>Created By:</li><li>@Html.DisplayFor(model => model.CreateName, new { style = "width:100px;", @disabled = "disabled", @readonly = "readonly", Title = "Created By" })</li> </ul>
                            <ul class="date"><li>Created Date Time:</li><li>@Html.DisplayFor(model => model.CreateDate, new { style = "width:140px;", @disabled = "disabled", @readonly = "readonly", Title = "Created DateTime" })  </li></ul>
                        </div>
                        <div>
                            <ul class="user"><li>Modified By:</li><li> @Html.DisplayFor(model => model.ModifyName, new { style = "width:100px;", @disabled = "disabled", @readonly = "readonly", Title = "Modified By" }) </li></ul>
                            <ul class="date"><li>Modified Date Time:</li><li>@Html.DisplayFor(model => model.ModifyDate, new { style = "width:140px;", @disabled = "disabled", @readonly = "readonly", Title = "Created DateTime" }) </li></ul>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>




