@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Styles.Render("~/Content/BasicCss")

@model Hm.Admin.Models.User.LoginViewModel
@{
    ViewBag.Title = "Index";
}
<html>
<head>
    <title> @ViewBag.Title </title>
    <style type="text/css">
        .log_drop {
            width: 90.2%;
            float: left;
            padding: 5px 0px;
        }
            .log_drop select {
                width: 289px;
                height: 26px;
                margin-left: 2%;
                float: right;
                font-size: 12px;
                color: #696969;
                padding: 1px 5px;
                margin: 0;
                font-family: Trebuchet MS, Arial, Helvetica, Verdana, sans-serif;
                border: 1px solid #D0D0D0;
                background: #fff;
                margin-top: 4px;
                background-color: #f4f4f4;
                border-radius: 7px;
            }
    .footer {
    
        padding-top: 22px;
        margin: 0 auto;
        position: relative;
        /* width: 966px; */
        width: auto !important;
     
        }
    </style>
</head>
@using (Html.BeginForm("Index", "SA501_Login", FormMethod.Post))
{
    <body>
        <div class="outer">
            <div class="container">
                <div class="inner" style="margin-bottom: 100px; margin-top: 0px;">
                    <div style="background-color: White; padding-top: 75px;" align="center">
                        <input name="usersession" type="hidden" id="usersession" value="0">
                        <div align="center" style="border: solid 0px red; height: 300px; padding-left: 0px;">
                            <div class="login_left">
                            </div>
                            <div class="login_right">
                                <div class="loginServerValidation">@Html.ValidationMessage("ServerValidation") @ViewData["Message"] </div>
                                <div style="text-align: left; border: solid 0px red; padding-top: 10px;">
                                    <div style="float: left; padding-left: 0px; height: 35px;">
                                        <div class="log_lbl">
                                            <label>
                                                Email
                                            </label>
                                        </div>
                                        @Html.TextBoxFor(model => model.EmailId, new { @class = "user_txt_box", placeholder = "Please Enter Email Id", tabindex = "1" })
                                        @Html.ValidationMessageFor(model => model.EmailId)
                                    </div>
                                    <div style="float: left; padding-left: 0px; height: 38px; padding-top: 10px;">     
                                        <div class="log_lbl">
                                            <label>
                                                Password
                                            </label>
                                        </div>                                 
                                        @Html.PasswordFor(model => model.Password, new { @class = "password_txt_box", tabindex="2", placeholder = "Please Enter Password" })
                                        @Html.ValidationMessageFor(model => model.Password)
                                    </div>
                                    <br>
                                    <br>
                                    <div class="log_drop">
                                        <div class="log_lbl">
                                            <label>
                                                Company
                                            </label>
                                        </div>  
                                       @Html.DropDownListFor(model => model.CompanyCD, Model.CompanyList, new { @class = "popuprole_cmbbox", tabindex = "3" })                                      
                                    </div>
                                    <div style="float: left; padding-left: 17px; height: 25px; padding-top: 10px; ">
                                        <div style="float: left; width: 105px; border: solid 0px red; padding-top: 13px;">
                                            <div id="divForgot">
                                                @Html.ActionLink("Forgot Password ?", "ForgotPassword", new { @class = "forgot", id = "forgot_page", tabindex = "5" })
                                            </div>
                                        </div>
                                        <div style="float: right; width: 199px; border: solid 0px red; padding-left: 66px; padding-top: 3px; ">
                                            <input type="submit" name="btnlog" value="Login" id="btnlog" class="btn_login" tabindex="4">
                                        </div>
                                        <div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="login-footer-outer" align="center">
                            <div class="login-footer">
                                <div class="footer" style="   background-color:transparent !important; "> Develope For <a href="http://www.saffra.com.sg/" target="_blank">Unipro Software (S) Pte Ltd</a></div>                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
}
</html>


